<p>products-list-parent works!</p>
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<label>Name: </label><input type="text" class="form-control" [(ngModel)]="name"/>
		<label>Price: </label><input type="text" class="form-control" [(ngModel)]="price"/>
		<button class="btn btn-info" type="button" [routerLink]="['/products']"  [queryParams]="{ name: name, price: price}">Search</button>
		<button class="btn btn-danger" type="button" (click)="onSearch()">Search</button>
	</div>
</div><hr>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of products"  [routerLink]="['/products-parent', item.id]">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.status===1 ? 'active' : 'inactive'}}</td>
			<td><a >Edit</a> | <a >Delete</a></td>
		</tr>
	</tbody>
</table>
