<!-- <h1>this is my {{title}}</h1> -->

<component-to-view></component-to-view>
<view-to-component></view-to-component>
<app-two-way-binding></app-two-way-binding>
<app-structural-directive ></app-structural-directive>
<app-attribute-directive></app-attribute-directive>
<br>
<button onclick="bai13()">Bài 13 + 14:Input và Output</button>
	<div id="bai-13" style="display:none">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			My Hobby: {{myHobby}} 
			<app-child [tenCuaToi]='name' tuoi={{age}} [ketHon]='isMarried' [employment]='job' [listNhanVien]='employees' [soLuongNV]="getTotalEmployeesCount()" [soLuongNVNam]='getTotalMaleEmployeesCount()' 
			(Enterhobby)="displayHobby($event)" (countRadioButtonValue)="onRadioButtonChange($event)" ></app-child>	
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Employee value: {{selectedRadioButtonValue}}</div>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Gender</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let person of employees">
					<tr *ngIf='selectedRadioButtonValue==="all" ||selectedRadioButtonValue==person.gender'>
						<td>{{person.code }}</td>
						<td>{{person.name | uppercase| employeeTitle:person.gender}}</td>
						<td>{{person.gender  }}</td>
					</tr>
					</ng-container>
					<ng-container *ngIf="!employees || employees.length==0">Nothing here</ng-container>
				</tbody>
			</table>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<app-user-list [thanhVien]='users'></app-user-list>	
		</div>
	</div>
<br>
<button onclick="bai19()">Bài 19: Custom Pipe </button>
	<div id="bai-19" style="display:none" >
		<table class="table table-hover col-md-8">
			<thead>
				<tr>
					<th>ID</th>
					<th>Pre-Pipe</th>
					<th>Post-Pipe</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td width="50%"><input type="text" class="form-control" [(ngModel)]="text"></td>
					<td>{{text | formatData: 10:100}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>STT</th>
					<th>Phone</th>
					<th>Price</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="form-control" [(ngModel)]="filterId" ></td>
					<td><input type="text" class="form-control" [(ngModel)]="filterName"></td>
					<td><input type="text" class="form-control" [(ngModel)]="filterPrice" disabled></td>
					<td>
						<select  class="form-control" required="required" [(ngModel)]="filterStatus">
							<option value="all">All</option>
							<option value="1">Available</option>
							<option value="0">Out of stock</option>
						</select>
					</td>
				</tr>
				<tr *ngFor="let item of productsFromServer |filter: filterId:filterName: filterPrice:filterStatus">
					<td>{{item.id }} </td>
					<td>{{item.name}}</td>
					<td>{{item.price | currency: 'USD':true:'1.0-3'}}</td>
					<td>{{item.status?"Available":"Out of stock"}}</td>
					
				</tr>
			</tbody>
		</table>

		<table class="table table-hover">
				<thead>
					<tr>
						<th>Input</th>
						<th>Result {{sortValue}}</th>
						<th>Result from component</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{arrNumber}}</td>
						<td>{{arrNumber| sortNumber: sortValue}}</td>
						<td>{{arrNumber}}</td>
					</tr>
				</tbody>
		</table>	
		<button type="button" class="btn btn-default" (click) = "onCompare(1)">Asc</button>
		<button type="button" class="btn btn-warning" (click) = "onCompare(-1)">Desc</button>
		<br>
		<button type="button" class="btn btn-default" (click) = "tang()">Tăng</button>
		<button type="button" class="btn btn-warning" (click) = "giam()">Giảm</button>
		<br>
		<div class="form-group">
			
				<input type="text"  class="form-control" [(ngModel)]="tenCuaToi" width=50% >: {{tenCuaToi| capitalize}}
			
		</div>
		<div class="form-group"></div>
		
		<div class="form-group">
			Note: [value] vs [ngValue]:8 value is always string, where in ngValue you can pass object
			
				<select [(ngModel)]="selectedColor" class="form-control" width=50%>
					<option *ngFor="let color of colors" [ngValue]="color" value="{{color.code}}" >{{color.name}}
					</option>
				</select>
			
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th (click)="sortBy('name')">Name</th>
					<th (click)="sortBy('price')">Price</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of productsFromServer ">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.price | currency: 'USD':true:'1.0-3' }}</td>
				</tr>
			</tbody>
		</table>

	</div>
<br>
<button onclick="bai24()">Bài 24: Third-Party : Lodash </button>
<div style="display:none" id="bai-24">
	<p>install cli: npm install lodash --save</p>
		<ul>Cách 1: use all functions of lodash
			 <li>import 'lodash'</li>
			 <li>use function via: _.functionName()</li>
			 <li>declare var_:any;</li>
		</ul>
		<ul> Cách 2: use selected functions of lodash
			  <li>npm install --save @types/lodash</li>
			  <li>import <!-- {functionName} --> from 'lodash' //ex: random</li>
			  <li>Ex: this.name = random(1,9);</li>
		</ul>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th (click)="sortByLodash('name')">Name</th>
					<th (click)="sortByLodash('price')">Price</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of productsFromServer ">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.price | currency: 'USD':true:'1.0-3' }}</td>
				</tr>
			</tbody>
		</table>
</div>
<br>
<button onclick="bai25()">Bài 25:  Template reference variables  </button>
<div style="display:none" id="bai-25">
	<div class="container-fluid" [style.margin-top.px]="25">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">declare reference variable using (#): {{txtName.value}}</h3>
				</div>
				<div class="panel-body">
					<input type="text" class="form-control" #txtName>
					<button type="button" class="btn btn-default" (click)=onGetData(txtName.value)>button</button>
				</div>
			</div>		
		</div>
	</div>

	<div class="container-fluid" [style.margin-top.px]="25">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">declare reference variable using ref and @ViewChild-...: {{fullName}}</h3>
				</div>
				<div class="panel-body">
					<input type="text" class="form-control" ref-firstNameInput placeholder="First name">
					<input type="text" class="form-control" ref-lastNameInput placeholder="Last name">
					<button type="button" class="btn btn-default" (click)=onGetDataRef(lastNameInput)>button</button>
				</div>
			</div>		
		</div>
	</div>

</div>
<br>
<button onclick="bai27()">27. Lifecycle Hook : ngOnChanges ngDoCheck  </button>
<div style="display:none" id="bai-27">
<p>lifecycle-hook works!</p>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		</div>
		<div class="panel-body">
			<button type="button" class="btn btn-warning" (click)="onTogglelifeCycleHook()">button
			</button>
			<hr>total: {{total}}
			Số thứ 1: <input type="number"  class="form-control" #a>
			Số thứ 2: <input type="number"  class="form-control" #b>
		</div>
		<button type="button" class="btn btn-primary" (click)="onSum(a.value,b.value)">button</button>

	</div>
</div>
<br>
<button onclick="bai28()">28. Lifecycle Hook : ngContent  </button>
<div style="display:none" id="bai-28">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		</div>
		<div class="panel-body">
			<app-lifecycle-hook>
				<h1 #giatri>tiêu đề: {{value}}</h1>
<!-- 				<h2 class="myClass">select=".myClass"</h2>
				<h5>select="h5"</h5>
				<p myAttr>ng-content with myAttr</p>
				<p yourAttr="no-name">ng-content with yourAttr="no-name"</p>
				<p firstAttr secondAttr>ng-content with firstAttr & secondAttr</p> -->
				Thể Thao: {{thethao.value}}
			<input type="text" class="form-control" #thethao/>
			<button type="button" class="btn btn-info" (click)="clickLifeCycleHook(thethao)">button</button>
			</app-lifecycle-hook>

		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">ngAfterViewInit - ngAfterViewChecked</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group" #products>
				<li class="list-group-item" *ngFor="let item of productsFromServer">
				{{item.id}} - {{item.name}}</li>
			</ul>
			<input type="text"  class="form-control" #product>
			<button type="button" class="btn btn-primary" (click)="addProduct(product.value)">
			button</button>
		</div>
	</div>
</div>
<br>
<button onclick="bai31()">31. Service  </button>
<div style="display:none" id="bai-31">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<app-first></app-first>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<app-second></app-second>
			</div>
		</div>
	</div>
</div>
<br>
<button onclick="bai32()">32. Thực Hành Service </button>
<div style="display:block" id="bai-32">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<app-movie-list></app-movie-list>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<app-movie-add-edit></app-movie-add-edit>
			</div>
		</div>

	</div>


</div>